body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.logo-link
{
transition: opacity 0.4s ease;
}
.logo-link:hover{
  opacity: 0.8;
}
.logo-link:active
{
  opacity: 0.6;
}
.site-header-actions
{
display: flex;
align-items: center;

}
.sitenav-list
{
  display: flex;
  list-style: none;
}
.sitenav-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease,
  opacity 0.4 ease;
}
.sitenav-link:hover
{
  color: #ff7500;
}
.sitenav-link:active
{
  opacity: 0.6;
}

.main-link {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  background-color: #ff7500;
  text-decoration: none;
  transition: opacity 0.4s ease;
}
.main-link:hover{
  opacity: 0.8;
}
.main-link:active
{
  opacity: 0.6;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #252420;
  color: #fff;
}

.feature-list
{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.hero-content {
  width: 390px;
}

.hero-img {
  width: 510px;
  height: 510px;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  font-family: 'Roboto Condensed', sans-serif;

}

.features-heading{
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed', sans-serif;
}
.feature{
 width: 340px;
}
.feature-icon-wrapper
{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
  ;
}
.featuer-heading
{
  font-size: 24px;
  line-height: 1.2;
  font-family: 'Roboto Condensed', sans-serif;
}

.promo
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #252420;
}
.promo-h-twoo
{
  font-family: 'Roboto Condensed', sans-serif;

}
.promo-content
{
  width: 440px;
}
.promo-heading
{
  font-size: 40px;
  line-height: 48;
}

.promo-lighlight
{
  color: #ff7500;
}
.promo-img
{
  width: 440px;
  height: 440px;
  object-fit: cover;
}
.site-footer
{
  background-color: #f8f8f8;
}
.site-footer-top
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer ul{
  list-style: none;
}
.site-footer-socials
{
  display: flex;
  align-items: center;
}
.site-footer-socials a
{
  color: #252420;
}
.site-footer-socials a:hover
{
  color:#ff7500
}
.site-footer-socials a:active
{
  opacity: 0.6;
}
.site-footer-divider
{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);

}
.site-footer-bottem
{
  display: flex;
  align-items: center;
}
.site-footer-links
{
  width: 224px;
  line-height: 19px;
}
.site-footer-links a
{
  text-decoration: none;
  color: #252420;


}
.site-footer-links a:hover
{
  color: #ff7500;
}
.site-footer-links a:focus
{
  opacity: 0.6;
}